// Diskai logo badge (for contributors where I know their Discord name)
[vz-user-id="435026627907420161"] {
    .headerName-fajvi9::after, // Nicknames
    .headerTagNoNickname-ENx6no::after { // Non-nicknamed users
        // stuff i need to make it work
        content: "";
        display: inline-block;

        // Add image
        background: url("vz-theme://Diskai/assets/logo.png");
        background-size: contain;
        background-position: center;
        
        // box model
        width: 1em;
        height: 1em;
        margin-left: .5rem;

        // corners
        border-radius: .3em;
    }
}