.theme-dark {
	/* BG colours */
	/* main BG colours */
	--background-primary: #1a1a1a;
	--background-secondary: #252525;
	--background-tertiary: #2b2b2b;
	--background-accent: #2f2f2f;
	/* textarea colours */
	--channeltextarea-background: #303030;
	/* fix quick switcher textarea colour */
	--deprecated-quickswitcher-input-background: var(--channeltextarea-background);
	
	/* Text colours */
	/* main Text colours */
	--text-normal: #fff;
	--text-muted: #888;
	--diskai-text-emphasis: #ffdf80; /* Monokai yellow, with HSL lightness bootsted 70% -> 75% (original: #ffd866) */
	/* channels */
	--channels-default: var(--text-muted);
	--interactive-active: var(--diskai-text-emphasis);
	--interactive-muted: #555;
	/* headers */
	--header-primary: var(--diskai-text-emphasis);
	--header-secondary: #bbb; /* Wait this is actually the stock value */
}

/* Upload modal */
.theme-dark .uploadModal-2ifh8j { background-color: var(--background-secondary); }
.theme-dark .footer-3mqk7D { background-color: var(--background-primary); }

/* Keyshortcuts modal */
.theme-dark .keyboardShortcutsModal-3piNz7 { background-color: var(--background-primary); }

/* Delete modal */
.theme-dark .root-1gCeng { background-color: var(--background-secondary); }
.theme-dark .message-2qRu38 { background-color: var(--background-tertiary); } /* stop message being undiscernable from BG */
.theme-dark .footer-2gL1pp { background-color: var(--background-primary); }

/* Autocomplete */
.theme-dark .autocomplete-1vrmpx { background-color: var(--background-secondary); }
.theme-dark .categoryHeader-O1zU94, .theme-dark .selected-1Tbx07 { background-color: var(--background-tertiary); }

/* TODO: figure out how to theme the search popup: https://canary.discord.com/channels/538759280057122817/755015869914152981/805079836720234526 */





/* little extras :) */

/*
Better message box
courtesy of Jenny#0002 on powercord discord
https://discord.com/channels/538759280057122817/755005803303403570/804665923801579541 
*/
.form-2fGMdU { padding: 0px; }
.inner-MADQqc { padding-top: 4px; }
.channelTextArea-rNsIhG { margin-bottom: 0px; }

.base-gE7OpD {
    top: -24px;
    background-color: var(--background-primary);
}

.scrollableContainer-2NUZem {
    border-radius: 0px;
    min-height: 53px;
}

/*
Jump to bottom pill
by me!
https://canary.discord.com/channels/538759280057122817/755005803303403570/805090610201624597
*/
.barButtonMain-3K-jeJ {
	display: none;
}
.jumpToPresentBar-G1R9s6 {
	display: block;
	background-color: transparent;
}
.barButtonAlt-mYL1lj {
	float: right;
	bottom: 1rem;
	z-index: 999; /* Forgive me CSS gods */
	border-radius: 0.7rem;
	background-color: var(--background-tertiary);
}