/* Monokai Highlight.js because of course */
@import url("https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/styles/monokai-sublime.min.css");

.theme-dark {
	/* BG colours */
	/* main BG colours */
	--background-primary: var(--monokai-black);
	--background-secondary: #252525;
	--background-tertiary: #2b2b2b;
	--background-accent: #2f2f2f;
	/* textarea colours */
	--channeltextarea-background: #303030;
	/* fix quick switcher textarea colour */
	--deprecated-quickswitcher-input-background: var(--channeltextarea-background);
	
	/* Text colours */
	/* main Text colours */
	--text-normal: #fff;
	--text-muted: #888;
	--diskai-text-emphasis: var(--monokai-bright-yellow);
	/* channels */
	--channels-default: var(--text-muted);
	--interactive-active: var(--diskai-text-emphasis);
	--interactive-muted: #555;
	/* headers */
	--header-primary: var(--diskai-text-emphasis);
	--header-secondary: #bbb; /* Wait this is actually the stock value */
	
	/* Monokai colours */
	--monokai-black: #1a1a1a;
	--monokai-red: #f4005f;
	--monokai-green: #98e024;
	--monokai-yellow: #fa8419;
	--monokai-purple: #9d65ff;
	--monokai-cyan: #58d1eb;
	--monokai-white: #c4c5b5;
	--monokai-bright-black: #625e4c;
	--monokai-bright-yellow: #e0d561;
	--monokai-bright-white: #f6f6ef;
	--monokai-background: #1a1a1a;
	--monokai-foreground: #c4c5b5;
	/* Diskai colours */
	--diskai-pink: #ff4d91;
	--diskai-light-pink: #ffb3d0;
	--diskai-lilac: #b26bff;
}

/* Upload modal */
.theme-dark .uploadModal-2ifh8j { background-color: var(--background-secondary); }
.theme-dark .footer-3mqk7D { background-color: var(--background-primary); }

/* Keyshortcuts modal */
.theme-dark .keyboardShortcutsModal-3piNz7 { background-color: var(--background-primary); }

/* Delete modal */
.theme-dark .root-1gCeng { background-color: var(--background-secondary); }
.theme-dark .message-2qRu38 { background-color: var(--background-tertiary); } /* stop message being undiscernable from BG */
.theme-dark .footer-2gL1pp { background-color: var(--background-primary); }

/* Autocomplete */
.theme-dark .autocomplete-1vrmpx { background-color: var(--background-secondary); }
.theme-dark .categoryHeader-O1zU94, .theme-dark .selected-1Tbx07 { background-color: var(--background-tertiary); }

/* TODO: figure out how to theme the search popup: https://canary.discord.com/channels/538759280057122817/755015869914152981/805079836720234526 */

/* settings */
/* settings close icon */
.theme-dark .keybind-KpFkfr { color: var(--monokai-red); }
.theme-dark .closeButton-1tv5uR { border-color: var(--monokai-red); }

/* settings remove text */
.theme-dark .lookLink-9FtZy-.colorPrimary-3b3xI6 { color: var(--monokai-red); }

/* red outline settings buttons */
.lookOutlined-3sRXeN.colorRed-1TFJan {
	color: var(--monokai-red);
	border-color: var(--monokai-red);
}

/* red filled settings buttons */
.lookFilled-1Gx00P.colorRed-1TFJan {
	background-color: var(--monokai-red);
	color: var(--text-normal);
}

/* Nitro Features */
.theme-dark .featureEmoji-3pTtR2 .featureTitle-W5O6R1   { color: var(--monokai-yellow); }
.theme-dark .featureProfile-tTo0C- .featureTitle-W5O6R1 { color: var(--monokai-green); }
.featurePremiumGuild-2KpCr6 .featureTitle-W5O6R1        { color: var(--monokai-cyan); }
.theme-dark .featureBadge-3ZA-Ca .featureTitle-W5O6R1   { color: var(--diskai-light-pink); }
.featureUploadSize-2CAVFL .featureTitle-W5O6R1          { color: var(--diskai-lilac); }
.featureGoLive-30cvVw .featureTitle-W5O6R1              { color: var(--diskai-pink); }




/* little extras :) */

/*
Better message box
courtesy of Jenny#0002 on powercord discord
https://discord.com/channels/538759280057122817/755005803303403570/804665923801579541 
*/
.form-2fGMdU { padding: 0px; }
.inner-MADQqc { padding-top: 4px; }
.channelTextArea-rNsIhG { margin-bottom: 0px; }

.base-gE7OpD {
    top: -24px;
    background-color: var(--background-primary);
}

.scrollableContainer-2NUZem {
    border-radius: 0px;
    min-height: 53px;
}

/*
Jump to bottom pill
by me!
https://canary.discord.com/channels/538759280057122817/755005803303403570/805090610201624597
*/
.barButtonMain-3K-jeJ { display: none; }
.jumpToPresentBar-G1R9s6 {
	display: block;
	background-color: transparent;
}
.barButtonAlt-mYL1lj {
	float: right;
	bottom: 1rem;
	z-index: 999; /* Forgive me CSS gods */
	border-radius: 0.7rem;
	background-color: var(--background-tertiary);
}