/* Monokai Highlight.js because of course */
@import url("https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/styles/monokai-sublime.min.css");

/*******************************\
|       OPTIONAL FEATURES       |
\*******************************/

$strikethrough-mute: true;
$hide-help: true;
$ios-image-spoilers: true;
$coloured-channel-hashtags: true;
$disable-mention-theming: false;
$transitions: true;
$transition-duration: 0.2s;
$compact: false;
$new-user-card: true;

:root {
	/*******************************\
	|            Colours            |
	\*******************************/
	/* Monokai colours */
	--monokai-black: #1a1a1a;
	--monokai-red: #f4005f;
	--monokai-green: #98e024;
	--monokai-yellow: #fa8419;
	--monokai-purple: #9d65ff;
	--monokai-cyan: #58d1eb;
	--monokai-white: #c4c5b5;
	--monokai-bright-black: #625e4c;
	--monokai-bright-yellow: #e0d561;
	--monokai-bright-white: #f6f6ef;
	--monokai-background: #1a1a1a;
	--monokai-foreground: #bfbfba;
	/* Diskai colours */
	--diskai-pink: #ff4d91;
	--diskai-light-pink: #ffb3d0;
	--diskai-lilac: #b26bff;
	--diskai-light-blue: #76efdf;
	--diskai-muted-purple: #9567e4;
	--diskai-turquoise: #0bda97;
	--diskai-dark-green: #79b814;
    --diskai-muted-green: #2e8d02;
	--diskai-muted-white: #888;

	/*******************************\
	|        VERY IMPORTANT         |
	|    CUSTOMISATION VARIABLES    |
	\*******************************/
	--diskai-accent-colour: var(--diskai-dark-green);
	--diskai-accent-contrast: var(--text-normal);
	--diskai-mention-colour: var(--monokai-purple);
	--diskai-mention-text: var(--monokai-bright-white);

	/*******************************\
	|      User Status Colours      |
	\*******************************/
	--rs-online-color: var(--monokai-green) !important;
	--rs-idle-color: var(--monokai-yellow) !important;
	--rs-dnd-color: var(--monokai-red) !important;
	--rs-offline-color: var(--diskai-muted-white) !important;
	--rs-streaming-color: var(--monokai-purple) !important;
	--rs-invisible-color: var(--diskai-muted-white) !important;
}

.theme-dark {
	/*******************************\
	|          BG colours           |
	\*******************************/

	/* main BG colours */
	--background-primary: var(--monokai-black);
	--background-secondary: #252525;
	--background-mobile-secondary: var(--background-secondary);
	--background-tertiary: #2b2b2b;
	--background-accent: #2f2f2f;
	--background-modifier-accent: #ffffff18;
	/* textarea colours */
	--channeltextarea-background: #303030;
	/* fix quick switcher textarea colour */
	--deprecated-quickswitcher-input-background: var(
		--channeltextarea-background
	);

	/* Text colours */
	/* main Text colours */
	--text-normal: var(--monokai-bright-white);
	--text-muted: var(--diskai-muted-white);
	--text-link: var(--diskai-light-blue);
	/* channels */
	--channels-default: var(--text-muted);
	--interactive-active: var(--diskai-accent-colour);
	--interactive-muted: #555;
	/* headers */
	--header-primary: var(--diskai-accent-colour);
	--header-secondary: #bbb;
	/* Wait this is actually the stock value */

	/* Controls */
	--diskai-control-radio-dot: var(--monokai-purple);
	/* Radio button */
	--diskai-control-checkbox-checked: var(--monokai-purple);
	/* Checked checkbox */
	--diskai-control-slider-bar: var(--monokai-purple);
	/* Slider bar */
	--diskai-control-button: var(--monokai-purple);
	/* Button */
	--diskai-control-button-muted: var(--diskai-muted-purple);
	/* Muted Button */
	--diskai-control-button-yellow: var(--monokai-yellow);
	/* Yellow Button */
	--radio-group-dot-foreground: var(--diskai-control-radio-dot);
	/* Radio button dot */

	/* Misc */
	--background-mentioned: #fa84190d;
	--background-mentioned-hover: #fd891c14;
}

.theme-light {
	/*******************************\
	|          BG colours           |
	\*******************************/

	/* main BG colours */
	--background-primary: var(--monokai-bright-white);
	--background-secondary: #ddddd5;
	--background-mobile-secondary: var(--background-secondary);
	--background-tertiary: var(--monokai-foreground);
	--background-accent: #bfbfbf;
	/* --background-modifier-accent: #ffffff18; */
	/* textarea colours */
	--channeltextarea-background: #ccccce;
	/* fix quick switcher textarea colour */
	--deprecated-quickswitcher-input-background: var(
		--channeltextarea-background
	);

	/* Text colours */
	/* main Text colours */
	--text-normal: var(--monokai-black);
	--text-muted: var(--monokai-bright-black);
	--text-link: #2775bd;
	/* channels */
	--channels-default: var(--text-muted);
	--interactive-active: var(--diskai-accent-colour);
	--interactive-muted: #ccc;
	/* headers */
	--header-primary: var(--diskai-accent-colour);
	--header-secondary: #666;
	/* Wait this is actually the stock value */

	/* Controls */
	--diskai-control-radio-dot: var(--monokai-purple);
	/* Radio button */
	--diskai-control-checkbox-checked: var(--monokai-purple);
	/* Checked checkbox */
	--diskai-control-slider-bar: var(--monokai-purple);
	/* Slider bar */
	--diskai-control-button: var(--monokai-purple);
	/* Button */
	--diskai-control-button-muted: var(--diskai-muted-purple);
	/* Muted Button */
	--diskai-control-button-yellow: var(--monokai-yellow);
	/* Yellow Button */
	--radio-group-dot-foreground: var(--diskai-control-radio-dot);
	/* Radio button dot */

	/* Misc */
	--background-mentioned: #fa84190d;
	--background-mentioned-hover: #fd891c14;
}

/*******************************\
|     Bits discord decided      |
|   not to use variables for    |
\*******************************/
.container-1D34oG {
	background-color: var(--background-accent) !important;
}

/*******************************\
|            Header             |
\*******************************/

.container-1r6BKw.themed-ANHk51 {
	background-color: var(--background-secondary);
}

.children-19S4PO::after {
	display: none;
}

/* Channel hashtag icon */
.children-19S4PO .iconWrapper-2OrFZ1 path[fill="currentColor"] {
	fill: var(--diskai-accent-colour);
}

.iconWrapper-2OrFZ1.selected-1GqIat:hover path {
	fill: var(--diskai-accent-colour);
}

.iconWrapper-2OrFZ1.selected-1GqIat:hover {
	filter: brightness(1.2);
}

/*******************************\
|            Modals             |
\*******************************/

/* Upload modal */
.uploadModal-2ifh8j {
	background-color: var(--background-secondary) !important;
}

.footer-3mqk7D {
	background-color: var(--background-primary) !important;
}

/* Keyshortcuts modal */
.keyboardShortcutsModal-3piNz7 {
	background-color: var(--background-primary) !important;
}

/* Delete modal */
.root-1gCeng {
	background-color: var(--background-secondary) !important;
}

.message-2qRu38 {
	background-color: var(--background-tertiary) !important;
}

/* stop message being undiscernable from BG */
.footer-2gL1pp {
	background-color: var(--background-primary) !important;
}

/* Autocomplete */
.autocomplete-1vrmpx {
	background-color: var(--background-secondary) !important;
}

.categoryHeader-O1zU94,
.selected-1Tbx07 {
	background-color: var(--background-tertiary) !important;
}

/* Quick Switcher "PROTIP" */
.inline-136HKr .pro-1T8RK7 {
	color: var(--diskai-accent-colour) !important;
}

/* TODO: figure out how to theme the search popup: https://canary.discord.com/channels/538759280057122817/755015869914152981/805079836720234526 */
.container-3ayLPN {
	background-color: var(--background-secondary) !important;
}

.option-96V44q::after {
	display: none;
}

/* Notification bell strikethrough */
.strikethrough-3Wiitd {
	color: var(--monokai-red);
}

/*******************************\
|           Settings            |
\*******************************/
/* settings close icon */
.keybind-KpFkfr {
	color: var(--monokai-red) !important;
}

.closeButton-1tv5uR {
	border-color: var(--monokai-red) !important;
}

/* settings remove text */
.lookLink-9FtZy-.colorPrimary-3b3xI6 {
	color: var(--monokai-red);
}

/* Currently speaking bar */
.userSettingsVoice-iwdUCU .sliderBar-3DezvM.speaking-2bFhO4 {
	background-color: var(--monokai-green);
}

/* Changelog text */
.improved-1NJK-y {
	color: var(--monokai-purple);
}

.progress-YsDrV- {
	color: var(--monokai-yellow);
}

/* Hypesquad banners */
.membershipDialogHouse1-3KhKE- {
	/* Shoutouts to Remko#0999 for giving me the Bravery CSS class */
	background-color: var(--monokai-purple);
}

.membershipDialogHouse2-35h9SY {
	/* Shoutouts to CastIce#3081 for giving me the Brilliance CSS class */
	background-color: var(--diskai-pink);
}

.membershipDialogHouse3-15OBIQ {
	/* Balance */
	background-color: var(--diskai-turquoise);
}

// Make stuff WIDE
.sidebarRegion-VFTUkN {
	flex: 0;
}

.sidebarRegionScroller-3MXcoP {
	padding-left: 5rem;
}

.contentColumn-2hrIYH {
	max-width: 90rem;
}

.hero-EvfTTA {
	max-width: unset;
}

@media (max-width: 1800px) {
	.featureGrid-3-fNl- {
		grid-template-columns: repeat(3, 206px);
	}
}

// Add game popup
.addGamePopout-2RY8Ju {
	background-color: var(--background-secondary) !important;
}

.select-2TCrqx {
	background-color: var(--background-primary);
}

.css-3vaxre-menu {
	background-color: var(--background-tertiary);
}

// Playing game banner
.notDetected-33MY4s {
    background-color: var(--background-tertiary) !important;
}
.nowPlaying-284llR {
   background-color: var(--diskai-muted-green) !important;
}

/* red outline settings buttons */
.lookOutlined-3sRXeN.colorRed-1TFJan {
	color: var(--monokai-red);
	border-color: var(--monokai-red);
}

/* Nitro settings button */
[aria-controls="Discord Nitro-tab"] {
	color: var(--monokai-purple) !important;
}

[aria-controls="Discord Nitro-tab"]:hover,
[aria-controls="Discord Nitro-tab"][aria-selected="true"] {
	color: var(--interactive-hover) !important;
	background-color: var(--monokai-purple) !important;
}

/* Filled buttons*/
.lookFilled-1Gx00P {
	color: var(--text-normal) !important;
}

.lookFilled-1Gx00P.colorBrand-3pXr91 {
	background-color: var(--diskai-control-button) !important;
}

.lookFilled-1Gx00P.colorBrand-3pXr91:disabled {
	background-color: var(--diskai-control-button-muted) !important;
}

.lookFilled-1Gx00P.colorYellow-2JqYwt {
	background-color: var(--diskai-control-button-yellow) !important;
}

.lookFilled-1Gx00P.colorRed-1TFJan {
	background-color: var(--monokai-red) !important;
}

.lookFilled-1Gx00P.colorGreen-29iAKY {
	background-color: var(--diskai-dark-green) !important;
}

.lookFilled-1Gx00P.colorBrand-3pXr91:hover,
.lookFilled-1Gx00P.colorBrand-3pXr91:disabled:hover,
.lookFilled-1Gx00P.colorYellow-2JqYwt:hover,
.lookFilled-1Gx00P.colorRed-1TFJan:hover,
.lookFilled-1Gx00P.colorGreen-29iAKY:hover {
	filter: brightness(0.85);
}

.lookFilled-1Gx00P,
.lookInverted-2D7oAl {
	transition: background-color 0.17s ease, color 0.17s ease, filter 0.17s ease;
}

/* Inverted buttons */
.lookInverted-2D7oAl.colorYellow-2JqYwt {
	color: var(--monokai-yellow);
	background-color: var(--monokai-white);
}

/* Blurple sliders */
.barFill-23-gu- {
	background-color: var(--diskai-control-slider-bar);
}

/* Checkboxes */
.checkbox-1ix_J3.checked-3_4uQ9 {
	background-color: var(--diskai-control-checkbox-checked) !important;
	border-color: var(--diskai-control-checkbox-checked) !important;
}

.colorDefault-2K3EoJ .checkbox-3s5GYZ,
.colorDefault-2K3EoJ.focused-3afm-j .check-1JyqgN {
	color: var(--diskai-control-checkbox-checked);
}

.colorDefault-2K3EoJ.focused-3afm-j .checkbox-3s5GYZ,
.colorDefault-2K3EoJ:not(.focused-3afm-j) .check-1JyqgN {
	color: var(--diskai-accent-contrast) !important;
}

/* Switches */
.container-3auIfb[style="opacity: 1; background-color: rgb(67, 181, 129);"] {
	background-color: var(--monokai-green) !important;
}

// Janky but it'll do

/* Beta text */
.beta-3smTDE {
	color: var(--monokai-red);
}

/* Nitro Features */
.featureEmoji-3pTtR2 .featureTitle-W5O6R1 {
	color: var(--monokai-yellow);
}

.featureProfile-tTo0C- .featureTitle-W5O6R1 {
	color: var(--monokai-green);
}

.featurePremiumGuild-2KpCr6 .featureTitle-W5O6R1 {
	color: var(--monokai-cyan);
}

.featureBadge-3ZA-Ca .featureTitle-W5O6R1 {
	color: var(--diskai-light-pink);
}

.featureUploadSize-2CAVFL .featureTitle-W5O6R1 {
	color: var(--diskai-lilac);
}

.featureGoLive-30cvVw .featureTitle-W5O6R1 {
	color: var(--diskai-pink);
}

/* Notification Settings */
.wrapper-3jrx9n {
	border-color: var(--monokai-purple);
}

.wrapper-3jrx9n.disabledSelected-2Kf0yZ {
	border-color: var(--monokai-red);
}

.disabled-3I9jyo:hover {
	color: var(--monokai-red);
}

.selected-mKYnfr.disabled-3I9jyo {
	color: var(--monokai-red);
}

.option-n0icdO:hover {
	background-color: var(--monokai-purple);
}

.selected-mKYnfr.option-n0icdO {
	border-color: var(--monokai-purple);
	background-color: var(--monokai-purple);
}

/* That damn close button */
.closeButton-1tv5uR path {
	fill: var(--monokai-red);
}

/* Yellow "reload required" banner in powercord updater */
.cardWarning-2yPNAa {
	background-color: var(--monokai-yellow);
	border-color: var(--monokai-yellow);
}

.tipTitle-GL9qAt,
/* Loading splash screen "DID YOU KNOW" text */
/* Loading splash screen "Tweet Us" and "Server Status" text & icons */
.container-1r6BKw.themed-ANHk51 .anchor-3Z-8Bb:not([href="https://support.discord.com"]),
.container-1r6BKw.themed-ANHk51 .anchor-3Z-8Bb:not([href="https://support.discord.com"]) path,
.wordmark-2iDDfm path

/* Discord wordmark in top left */ {
	color: var(--diskai-accent-colour);
}

@if not($disable-mention-theming) {
	/* #channels and @mentions */
	.wrapper-3WhCwL {
		color: var(--diskai-mention-colour);
	}

	.wrapper-3WhCwL:hover {
		background-color: var(--diskai-mention-colour);
		color: var(--diskai-mention-text) !important;
	}

	.wrapper-3WhCwL.mention.interactive:hover {
		background-color: var(--diskai-mention-colour) !important;
		border-radius: 3px;
	}
}

/* Discord logo in top left */
.wrapper-1BJsBx.selected-bZ3Lue .childWrapper-anI2G9,
.wrapper-1BJsBx:hover .childWrapper-anI2G9 {
	background-color: var(--diskai-accent-colour);
	color: var(--diskai-accent-contrast);
}

/* Explore and Add server icons */
.circleIconButton-jET_ig.selected-ugP_am {
	background-color: var(--diskai-accent-colour);
	color: var(--diskai-accent-contrast);
}

.circleIconButton-jET_ig.selected-ugP_am path {
	fill: var(--diskai-accent-contrast);
}

.circleIconButton-jET_ig path {
	fill: var(--diskai-accent-colour);
}

/* Explore selected category */
.categoryItem-3zFJns.selectedCategoryItem-3X8ujp .itemInner-3gVXMG {
	background-color: var(--diskai-accent-colour);
	color: var(--diskai-accent-contrast);
}

/* Context menus */
/* All buttons */
.colorDefault-2K3EoJ.focused-3afm-j:not(.colorDanger-2qLCe1) {
	background-color: var(--diskai-accent-colour);
	color: var(--diskai-accent-contrast);
}

/* Invite to server */
#guild-header-popout-invite-people.focused-3afm-j {
	background-color: var(--monokai-purple);
	color: var(--text-normal);
}

#guild-header-popout-invite-people:not(.focused-3afm-j) {
	color: var(--monokai-purple);
}

#guild-header-popout-invite-people:not(.focused-3afm-j) path {
	fill: var(--monokai-purple);
}

/* Nitro boots */
#guild-header-popout-premium-subscribe.focused-3afm-j {
	background-color: var(--diskai-pink);
	color: var(--text-normal);
}

#guild-header-popout-premium-subscribe:not(.focused-3afm-j) path {
	fill: var(--diskai-pink);
}

/* Danger actions => delete message */
.colorDanger-2qLCe1,
.colorDanger-2qLCe1 .checkbox-3s5GYZ,
.colorDanger-2qLCe1 .radioSelection-1HmrQS {
	color: var(--monokai-red);
}

.colorDanger-2qLCe1.focused-3afm-j {
	background-color: var(--monokai-red);
	color: var(--text-normal);
}

@if $transitions {
	/* Fades!!! */
	.item-PXvHYJ,
	.item-1tOPte,
	.channel-2QD9_O,
	.channel-2QD9_O .subtext-1RtU34,
	.closeButton-2GCmT5 svg,
	.containerDefault--pIXnN *,
	.categoryItem-3zFJns,
	.member-3-YXUe,
	.member-3-YXUe *,
	.message-2qnXI6,
	.buttonContainer-DHceWr *,
	.result-oB0z--,
	button,
	button svg *,
	.clickable-3rdHwn path,
	.iconItem-F7GRxr path,
	.overflow-WK9Ogt,
	.winButton-iRh8-Z,
	.avatar-SmRMf2,
	.button-1-5Aqk,
	.header-2-Imhb .tab-ck0077,
	.privateChannelsHeaderContainer-3NB1K1,
	.rowWrapper-2fB6P0,
	.rowWrapper-2fB6P0 .nameBodyCell-3JOlnK,
	.item-26Dhrx,
	.item-26Dhrx path,
	.header-2BwW8b,
	.css-3vaxre-menu * {
		transition: background-color #{$transition-duration} ease,
			color #{$transition-duration} ease,
			fill #{$transition-duration} ease,
			opacity #{$transition-duration} ease;
	}

	.channel-2QD9_O .name-uJV0GL,
	.channel-2QD9_O .subText-1KtqkB {
		color: var(--channels-default);
	}

	.channel-2QD9_O:hover .name-uJV0GL,
	.channel-2QD9_O:hover .subText-1KtqkB {
		color: var(--text-normal);
	}

	.textRuler-wO-qHe {
		display: none;
	}

	.searchBar-3dMhjb {
		transition: width calc(2 * #{$transition-duration}) ease;
	}
}

.containerDefault--pIXnN.selected-3LIHYU .iconItem-F7GRxr,
.containerDefault--pIXnN:hover .iconItem-F7GRxr {
	opacity: 1;
}

.iconItem-F7GRxr {
	display: block;
	opacity: 0;
}

/* The rectangle message box breaks the upload dialog border-radius */
.channelTextAreaUpload-3t7EIx .scrollableContainer-2NUZem {
	border-radius: 8px;
}

/* LIVE tag in VC */
.liveSmall-1dy2uA {
	background-color: var(--monokai-red) !important;
}

/* Fix the status picker popup not using the variables (discord pls fix) */
#status-picker-online .status-1AY8sU {
	background-color: var(--rs-online-color) !important;
}

#status-picker-idle .status-1AY8sU {
	background-color: var(--rs-idle-color) !important;
}

#status-picker-dnd .status-1AY8sU {
	background-color: var(--rs-dnd-color) !important;
}

#status-picker-invisible .status-1AY8sU {
	background-color: var(--rs-invisible-color) !important;
}

/* Changelog links are stubborn as to colours */
.content-s2SEQO a {
	color: var(--text-link);
}

@if $strikethrough-mute {
	/* Strikethrough muted categories & channels */
	.wrapper-PY0fhH.muted-2JBAyG,
	.wrapper-PY0fhH.muted-2JBAyG .name-3l27Hl,
	.modeMuted-onO3r- .icon-1DeIlz,
	.modeMuted-onO3r- .name-23GUGE {
		text-decoration: line-through;
	}
}

/* Invite to this channel button */
.iconItem-F7GRxr path {
	fill: var(--text-link);
}

@if $hide-help {
	/* Go away help button */
	.anchor-3Z-8Bb[href="https://support.discord.com"]
	{
		display: none;
	}
}

/* File download button */
.wrapperAudio-1jDe0Q .metadataDownload-1fk90V path,
.downloadButton-23tKQp path {
	fill: var(--text-link);
}

/* Message pin */
.content-2M3n_H .anchor-3Z-8Bb {
	color: var(--text-link);
}

/* Mentions */
.mentioned-xhSam7::before {
	background-color: var(--monokai-yellow);
}

@if $coloured-channel-hashtags {
	/* Channels */
	.unread-2lAfLh {
		visibility: hidden;
	}

	.modeUnread-1qO3K1 .name-23GUGE,
	.mainContent-u_9PKf:hover .name-23GUGE,
	.name-23GUGE {
		color: var(--channels-default);
	}

	.modeSelected-346R90 .name-23GUGE,
	.modeSelected-346R90:hover .name-23GUGE {
		color: var(--text-normal);
	}

	.modeUnread-1qO3K1 .iconContainer-1BBaeJ path {
		fill: var(--interactive-active);
	}

	.modeSelected-346R90 .iconContainer-1BBaeJ path {
		fill: var(--text-normal);
	}
}

/* Version message */
.info-1VyQPT .colorMuted-HdFt4q:last-child::after {
	content: "Diskai 1.1 (git master)";
	display: block;
	text-transform: none;
}

// Edit message buttons
.operations-36ENbA > a {
	color: var(--diskai-accent-colour);
}

@if $compact {
	// Channel list
	.content-3YMskv {
		.containerDefault--pIXnN .wrapper-2jXpOf { padding: 0; }
		.containerDefault-3tr_sE { padding-top: .5rem; }
	}
	// Messages in cozy mode
	.cozy-3raOZG .header-23xsNx { margin-bottom: 0; }
	// Members list
	.membersGroup-v9BXpm { padding-top: .5rem; height: 1.5rem; }
	// Slim header
	.header-2V-4Sw, .title-3qD0b- { height: 2.5rem; }
	// Unreads & mentions
	.recentMentionsPopout-3rCiI6 .header-ykumBX { height: 3rem; min-height: 3rem; padding-top: .5rem; padding-bottom: 0; }
	.container-3iAQ-0 { 
		margin-bottom: 0; 
		.messageContainer-gbhlwo { padding: .5rem 0; }
	}
	// Pinned messages
	.messagesPopoutWrap-1MQ1bW:not(.recentMentionsPopout-3rCiI6) .header-ykumBX { height: 2rem; min-height: 2rem; padding-top: .5rem; padding-bottom: 0; }
	// Channel info modal
	.modal-3O0aXp { min-height: 150px; }
	.modal-3O0aXp > div { padding: .5rem 16px; }
	.content-1LAB8Z .content-38qMG0 { padding: 0; }
	// Context menus
	.item-1tOPte { padding: .2rem; min-height: 1.75rem; }
	// Settings
	// Buttons
	.marginTop40-i-78cZ { margin-top: 30px; }
	.defaultMarginh2-2LTaUL,
	.marginBottom20-32qID7 { margin-bottom: 10px; }
	.changePasswordButton-1LGVWT { margin-bottom: 30px; }
	// User card
	.fieldList-21DyL8 .fieldSpacer-wgewFh { margin-top: .75rem; }
	.background-1QDuV2 { padding: .5rem; }
	.profile-1eT9hT { margin: 0 1rem .5rem 1rem; }
	@if not($new-user-card) {
		.profile-1eT9hT { margin-left: 0; margin-top: .2rem; }
	}
	// Profile popout
	.userPopout-3XzG_A {
		.activityUserPopout-2yItg2,
		.body-3iLsc4 { padding: .75rem; }
		.footer-1fjuF6,
		.roleCircle-3xAZ1j,
		.bodyTitle-Y0qMQz { display: none; }
		.rolesList-22qj2L { margin: .5rem 0; justify-content: center; }
		.roleName-32vpEy { margin-left: 4px; }
		.textarea-2r0oV8 { height: calc(34px / 1.5) !important; }

		max-height: calc(100vh - 5rem);

		.headerTop-3C2Zn0 {
			padding: 0.5rem;
			flex-flow: row wrap;
			.avatarWrapperNormal-3wFMbf { margin: 0 .5rem 0 0; }
			.headerTag-2pZJzA, .customStatus-1bh2V9 { margin-top: .5rem; }
		}
	}
	// Profile
	.listScroller-2_vlfo {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(auto-fit, 3.5rem);

		.empty-2WtT5s {
			grid-column: span 2;
		}
	}
}

@if $new-user-card {
	.background-1QDuV2 { display: flex; }
	.avatarUploader-3XDtmn { margin-top: auto; margin-bottom: auto; }
	.menu-319q29 { margin: 0; }
	.fieldList-21DyL8 { flex: 1; margin: 0; }
	.profile-1eT9hT { margin: .5rem 2.5rem 1rem 2.5rem; flex-flow: column nowrap; }
	.details-2fkb7l { margin-left: 0; }
	.badgeList-HtCfKd { align-items: center; flex-flow: column wrap; }
	.profileBadgeWrapper-1rGSsp { margin: 0 6px; }
}

/*******************************\
|      stuff stolen from        |
|     #css-snippets in the      |
|     powercord discord :P      |
\*******************************/

/*
Better message box
courtesy of Jenny#0002 on powercord discord
https://discord.com/channels/538759280057122817/755005803303403570/804665923801579541 
*/
.form-2fGMdU {
	padding: 0px;
}

.inner-MADQqc {
	padding-top: 4px;
}

.channelTextArea-rNsIhG {
	margin-bottom: 0px;
}

.base-gE7OpD {
	top: -24px;
	background-color: var(--background-primary);
}

.scrollableContainer-2NUZem {
	border-radius: 0px;
	min-height: 53px;
}

/*
Jump to bottom pill UPDATE
by me!
https://discord.com/channels/538759280057122817/755005803303403570/805724588277104680
*/
.barButtonMain-3K-jeJ {
	display: none;
}

.jumpToPresentBar-G1R9s6 {
	display: block;
	background-color: transparent;
	right: 12px;
}

.barButtonAlt-mYL1lj {
	float: right;
	bottom: 1.6rem;
	border-radius: 0.7rem 0 0 0.7rem;
	background-color: var(--background-tertiary);
}

/*
Drop shadow behind images, video, codeblocks, and other embeds
by Benny#9876
https://discord.com/channels/538759280057122817/755005803303403570/801919477918597211
 */
.embedWrapper-lXpS3L {
	box-shadow: 0px 8px 15px -8px rgba(0, 0, 0, 0.3);
}

code {
	box-shadow: 0px 8px 15px -8px rgba(0, 0, 0, 0.3);
}

/*
Bigger popup avatars
by wathhr#1459
https://discord.com/channels/538759280057122817/755005803303403570/797655264199180348
*/
.header-QKLPzZ > .avatar-3EQepX.wrapper-3t9DeA {
	top: 5px;
}

.avatarWrapperNormal-3wFMbf.avatarWrapper-3H_478 > .wrapper-3t9DeA,
.header-QKLPzZ > .avatar-3EQepX.wrapper-3t9DeA,
.avatarHint-1qgaV3 {
	width: 100px !important;
	height: 100px !important;
}

@if $ios-image-spoilers {
	/*
	iOS-style image spoilers
	by Yellowsink#8156
	https://discord.com/channels/538759280057122817/755005803303403570/811210109405495316
	*/
	.inline-2bgipb.hiddenSpoilers-1ksnR6 {
		visibility: visible;
	}

	.inline-2bgipb.hiddenSpoilers-1ksnR6 img {
		filter: blur(3rem);
	}

	.inline-2bgipb.hiddenSpoilers-1ksnR6::after {
		content: "SPOILER";
		color: var(--text-normal);
		display: block;
		text-align: center;
		top: calc(50% - 0.5rem);
		position: absolute;
		width: 100%;
		font-weight: bold;
	}
}
