// Optional Features
@use "features" as *;

// compact mode
@import url(https://cdn.jsdelivr.net/gh/yellowsink/SmolCord@master/smol.theme.css);

/**********************************\
|          ig compat with          |
|  https://github.com/NYRI4/Comfy  |
|      ask past me if this is      |
|        actually useful lol       |
\**********************************/
.avatarWrapper_ba5175 {
	--avatar-bottom: 5px;
}

:root {
  /*******************************\
	|            Colours            |
	\*******************************/
  // Monokai colours
  --monokai-black: #1a1a1a;
  --monokai-red: #f4005f;
  --monokai-green: #98e024;
  --monokai-yellow: #fa8419;
  --monokai-purple: #9d65ff;
  --monokai-cyan: #58d1eb;
  --monokai-white: #c4c5b5;
  --monokai-bright-black: #625e4c;
  --monokai-bright-yellow: #e0d561;
  --monokai-bright-white: #f6f6ef;
  --monokai-background: #1a1a1a;
  --monokai-foreground: #bfbfba;
  // Diskai colours
  --diskai-pink: #ff4d91;
  --diskai-light-pink: #ffb3d0;
  --diskai-lilac: #b26bff;
  --diskai-light-blue: #76efdf;
  --diskai-muted-purple: #9567e4;
  --diskai-turquoise: #0bda97;
  --diskai-dark-green: #79b814;
  --diskai-muted-green: #2e8d02;
  --diskai-muted-white: #888;

  // Very unimportant colours
  // sad to see this one go and be replaced by #5865F2 :(
  --old-blurple: #7289da;

  /*******************************\
	|        VERY IMPORTANT         |
	|    CUSTOMISATION VARIABLES    |
	\*******************************/
  --diskai-accent-colour: var(--diskai-dark-green);
  --diskai-accent-contrast: var(--text-normal);
  --diskai-mention-colour: var(--monokai-purple);
  --diskai-mention-text: var(--monokai-bright-white);

  /*******************************\
	|      User Status Colours      |
	\*******************************/
  --rs-online-color: var(--monokai-green) !important;
  --rs-idle-color: var(--monokai-yellow) !important;
  --rs-dnd-color: var(--monokai-red) !important;
  --rs-offline-color: var(--diskai-muted-white) !important;
  --rs-streaming-color: var(--monokai-purple) !important;
  --rs-invisible-color: var(--diskai-muted-white) !important;
}

.theme-dark {
  /*******************************\
	|          BG colours           |
	\*******************************/

  /* main BG colours */
  --background-primary: var(--monokai-black);
  --background-secondary: #252525;
  --background-secondary-alt: var(--background-secondary);
  --background-mobile-secondary: var(--background-secondary);
  --background-tertiary: #2b2b2b;
  --background-accent: #2f2f2f;
  --background-modifier-accent: #ffffff18;
  /* textarea colours */
  --channeltextarea-background: #303030;
  /* fix quick switcher textarea colour */
  --deprecated-quickswitcher-input-background: var(
    --channeltextarea-background
  );

  /* Text colours */
  /* main Text colours */
  --text-normal: var(--monokai-bright-white);
  --text-muted: var(--diskai-muted-white);
  --text-link: var(--diskai-light-blue);
  /* channels */
  --channels-default: var(--text-muted);
  --interactive-active: var(--diskai-accent-colour);
  --interactive-muted: #555;
  /* headers */
  --header-primary: var(--diskai-accent-colour);
  --header-secondary: #bbb;
  /* Wait this is actually the stock value */

  /* Controls */
  --diskai-control-radio-dot: var(--monokai-purple);
  /* Radio button */
  --diskai-control-checkbox-checked: var(--monokai-purple);
  /* Checked checkbox */
  --diskai-control-slider-bar: var(--monokai-purple);
  /* Slider bar */
  --diskai-control-button: var(--monokai-purple);
  /* Button */
  --diskai-control-button-muted: var(--diskai-muted-purple);
  /* Muted Button */
  --diskai-control-button-yellow: var(--monokai-yellow);
  /* Yellow Button */
  --radio-group-dot-foreground: var(--diskai-control-radio-dot);
  /* Radio button dot */

  /* Misc */
  --background-mentioned: #fa84190d;
  --background-mentioned-hover: #fd891c14;
}

.theme-light {
  /*******************************\
	|          BG colours           |
	\*******************************/

  /* main BG colours */
  --background-primary: var(--monokai-bright-white);
  --background-secondary: #ddddd5;
  --background-mobile-secondary: var(--background-secondary);
  --background-tertiary: var(--monokai-foreground);
  --background-accent: #bfbfbf;
  /* --background-modifier-accent: #ffffff18; */
  /* textarea colours */
  --channeltextarea-background: #ccccce;
  /* fix quick switcher textarea colour */
  --deprecated-quickswitcher-input-background: var(
    --channeltextarea-background
  );

  /* Text colours */
  /* main Text colours */
  --text-normal: var(--monokai-black);
  --text-muted: var(--monokai-bright-black);
  --text-link: #2775bd;
  /* channels */
  --channels-default: var(--text-muted);
  --interactive-active: var(--diskai-accent-colour);
  --interactive-muted: #ccc;
  /* headers */
  --header-primary: var(--diskai-accent-colour);
  --header-secondary: #666;
  /* Wait this is actually the stock value */

  /* Controls */
  --diskai-control-radio-dot: var(--monokai-purple);
  /* Radio button */
  --diskai-control-checkbox-checked: var(--monokai-purple);
  /* Checked checkbox */
  --diskai-control-slider-bar: var(--monokai-purple);
  /* Slider bar */
  --diskai-control-button: var(--monokai-purple);
  /* Button */
  --diskai-control-button-muted: var(--diskai-muted-purple);
  /* Muted Button */
  --diskai-control-button-yellow: var(--monokai-yellow);
  /* Yellow Button */
  --radio-group-dot-foreground: var(--diskai-control-radio-dot);
  /* Radio button dot */

  /* Misc */
  --background-mentioned: #fa84190d;
  --background-mentioned-hover: #fd891c14;
}

/*******************************\
|     Bits discord decided      |
|   not to use variables for    |
\*******************************/
.container__5c7e7 {
  background-color: var(--background-accent) !important;
}

/*******************************\
|            Header             |
\*******************************/

.container__11d72.themed_b152d4 {
  background-color: var(--background-secondary);
}

.children__32014::after {
  display: none;
}

/* Channel hashtag icon */
.children__32014 .iconWrapper_af9215 path[fill="currentColor"] {
  fill: var(--diskai-accent-colour);
}

.iconWrapper_af9215.selected_be2668:hover path {
  fill: var(--diskai-accent-colour);
}

.iconWrapper_af9215.selected_be2668:hover {
  filter: brightness(1.2);
}

/*******************************\
|            Modals             |
\*******************************/

/* Upload modal */
.uploadModal_eae2a0 {
  background-color: var(--background-secondary) !important;
}

.footer_ceda43 {
  background-color: var(--background-primary) !important;
}

/* Keyshortcuts modal */
.keyboardShortcutsModal__74c71 {
  background-color: var(--background-primary) !important;
}

/* Delete modal */
.root_a28985 {
  background-color: var(--background-secondary) !important;
}

.message__04d9f {
  background-color: var(--background-tertiary) !important;
}

/* stop message being undiscernable from BG */
.footer-31IekZ {
  background-color: var(--background-primary) !important;
}

/* Autocomplete */
.autocomplete_df266d {
  background-color: var(--background-secondary) !important;
}

.categoryHeader_f97a5f,
.selected-3H3-RC {
  background-color: var(--background-tertiary) !important;
}

/* Quick Switcher "PROTIP" */
.inline_b273ab .pro_db62e1 {
  color: var(--diskai-accent-colour) !important;
}

/* Fix broken footer on quick-switcher without text */
.quickswitcher_a3d29a {
  height: 100%;
}

/* TODO: figure out how to theme the search popup: https://canary.discord.com/channels/538759280057122817/755015869914152981/805079836720234526 */
.container_d6dad3 {
  background-color: var(--background-secondary) !important;
}

.option-2KkUJO::after {
  display: none;
}

/* Notification bell strikethrough */
.strikethrough__3c54e {
  color: var(--monokai-red);
}

/*******************************\
|           Settings            |
\*******************************/
/* settings close icon */
.keybind__57645 {
  color: var(--monokai-red) !important;
}

.closeButton__34341 {
  border-color: var(--monokai-red) !important;
}

.closeButton__34341 path {
  fill: var(--monokai-red);
}

/* settings remove text */
.lookLink__93965.colorPrimary__6ed40 {
  color: var(--monokai-red);
}

/* Currently speaking bar */
.inputSensitivityBar_ed89f2.speaking__112c7 {
  background-color: var(--monokai-green);
}

/* Changelog text */
.improved_df526b {
  color: var(--monokai-purple);
}

.improved_df526b {
  color: var(--monokai-yellow);
}

.fixed__61d41 {
  color: var(--monokai-red);
}

.added_dc4118 {
  color: var(--monokai-green);
}

/* Hypesquad banners */
.membershipDialogHouse1__24868 {
  /* Shoutouts to Remko#0999 for giving me the Bravery CSS class */
  background-color: var(--monokai-purple);
}

.membershipDialogHouse2_e343cb {
  /* Shoutouts to CastIce#3081 for giving me the Brilliance CSS class */
  background-color: var(--diskai-pink);
}

.membershipDialogHouse3_d0cf09 {
  /* Balance */
  background-color: var(--diskai-turquoise);
}

// Make stuff WIDE
.sidebarRegion__60457 {
  flex: 0;
}

.sidebarRegionScroller__1fa7e {
  padding-left: 5rem;
}

.contentColumn_dc7d36 {
  max-width: 90rem;
}

/* what is that hero class? 2023-11-05 */
.container__5ed3b, .max-width_df086e, .max-width__4cc00, .banner__79cec /*, .hero-1aNo0v*/ {
  max-width: unset;
}

// Add game popup
.addGamePopout_e4ca8f {
  background-color: var(--background-secondary) !important;
}

.select__55f87 {
  background-color: var(--background-primary);
}

/* what was this? 2023-11-05 */
/* .css-3vaxre-menu {
  background-color: var(--background-tertiary);
} */

// Playing game banner
.notDetected__2a0c9 {
  background-color: var(--background-tertiary) !important;
}
.nowPlaying__353c3 {
  background-color: var(--diskai-muted-green) !important;
}

/* Nitro settings button */
.premiumTab__57bdc {
  color: var(--monokai-purple) !important;
}

.premiumTab__57bdc:hover,
.premiumTab__57bdc[aria-selected="true"] {
  color: var(--interactive-hover) !important;
  background-color: var(--monokai-purple) !important;

  & > .background__584e7 { display: none }
}

/* Outlined buttons */
.lookOutlined__46d54.colorRed_d6b062 {
  color: var(--monokai-red);
  border-color: var(--monokai-red);
}

.lookOutlined__46d54.colorBrand_b2253e {
  color: var(--monokai-purple);
  border-color: var(--monokai-purple);
}

/* Filled buttons */
.lookFilled__19298 {
  color: var(--text-normal) !important;
}

.lookFilled__19298.colorBrand_b2253e {
  background-color: var(--diskai-control-button) !important;
}

.lookFilled__19298.colorBrand_b2253e:disabled {
  background-color: var(--diskai-control-button-muted) !important;
}

.lookFilled__19298.colorYellow_a62893 {
  background-color: var(--diskai-control-button-yellow) !important;
}

.lookFilled__19298.colorRed_d6b062 {
  background-color: var(--monokai-red) !important;
}

.lookFilled__19298.colorGreen__5f181 {
  background-color: var(--diskai-dark-green) !important;
}

.lookFilled__19298.colorBrand_b2253e:hover,
.lookFilled__19298.colorBrand_b2253e:disabled:hover,
.lookFilled__19298.colorYellow_a62893:hover,
.lookFilled__19298.colorRed_d6b062:hover,
.lookFilled__19298.colorGreen__5f181:hover {
  filter: brightness(0.85);
}

.lookFilled__19298,
.lookInverted_ee4261 {
  transition: background-color 0.17s ease, color 0.17s ease, filter 0.17s ease;
}

/* Inverted buttons */
.lookInverted_ee4261.colorYellow_a62893 {
  color: var(--monokai-yellow);
  background-color: var(--monokai-white);
}

/* Blurple sliders */
.barFill__30e17 {
  background-color: var(--diskai-control-slider-bar);
}

/* Checkboxes */
// TODO
.checkbox__45366.checked-1pZh2h {
  background-color: var(--diskai-control-checkbox-checked) !important;
  border-color: var(--diskai-control-checkbox-checked) !important;
}

.colorDefault__0b482 .checkbox__45366,
.colorDefault__0b482.focused__27621 .check__8d1bd {
  color: var(--diskai-control-checkbox-checked);
}

.colorDefault__0b482.focused__27621 .checkbox__45366,
.colorDefault__0b482:not(.focused__27621) .check__8d1bd {
  color: var(--diskai-accent-contrast) !important;
}

/* Switches */
.container__871ba.checked__6bdb0 {
  background-color: var(--monokai-green) !important;
}

// Janky but it'll do

/* Beta text */
/* .beta-3smTDE {
  color: var(--monokai-red);
} */

/* Notification Settings */
.wrapper__4beb8 {
  border-color: var(--monokai-purple);
}

.wrapper__4beb8.disabledSelected_dd29ae {
  border-color: var(--monokai-red);
}

.disabled_ab18dc:hover {
  color: var(--monokai-red);
}

.selected_ea51d6.disabled_ab18dc {
  color: var(--monokai-red);
}

.option_a0c054:hover {
  background-color: var(--monokai-purple);
}

.selected_ea51d6.option_a0c054 {
  border-color: var(--monokai-purple);
  background-color: var(--monokai-purple);
}

.tipTitle_a7615c,
/* Loading splash screen "DID YOU KNOW" text */
/* Loading splash screen "Tweet Us" and "Server Status" text & icons */
.container__11d72.themed_b152d4 .anchor_c8ddc0:not([href="https://support.discord.com"]),
.container__11d72.themed_b152d4 .anchor_c8ddc0:not([href="https://support.discord.com"]) path,
.wordmark__0d178 path

/* Discord wordmark in top left */ {
  color: var(--diskai-accent-colour);
}

/* Clyde */
@if $old-discord-logo {
  foreignObject > [data-list-item-id="guildsnav___home"] path {
    d: path(
      "M20.6644 20C20.6644 20 19.8014 18.9762 19.0822 18.0714C22.2226 17.1905 23.4212 15.2381 23.4212 15.2381C22.4384 15.881 21.5034 16.3334 20.6644 16.6429C19.4658 17.1429 18.3151 17.4762 17.1884 17.6667C14.887 18.0953 12.7774 17.9762 10.9795 17.6429C9.61301 17.381 8.43836 17 7.45548 16.6191C6.90411 16.4048 6.30479 16.1429 5.70548 15.8096C5.63356 15.7619 5.56164 15.7381 5.48973 15.6905C5.44178 15.6667 5.41781 15.6429 5.39384 15.6191C4.96233 15.381 4.7226 15.2143 4.7226 15.2143C4.7226 15.2143 5.87329 17.1191 8.91781 18.0238C8.19863 18.9286 7.31164 20 7.31164 20C2.0137 19.8333 0 16.381 0 16.381C0 8.7144 3.45205 2.50017 3.45205 2.50017C6.90411 -0.07123 10.1884 0.000197861 10.1884 0.000197861L10.4281 0.285909C6.11301 1.52399 4.12329 3.40493 4.12329 3.40493C4.12329 3.40493 4.65068 3.11921 5.53767 2.71446C8.10274 1.59542 10.1404 1.2859 10.9795 1.21447C11.1233 1.19066 11.2432 1.16685 11.387 1.16685C12.8493 0.976379 14.5034 0.92876 16.2295 1.11923C18.5068 1.38114 20.9521 2.0478 23.4452 3.40493C23.4452 3.40493 21.5514 1.61923 17.476 0.381146L17.8116 0.000197861C17.8116 0.000197861 21.0959 -0.07123 24.5479 2.50017C24.5479 2.50017 28 8.7144 28 16.381C28 16.381 25.9623 19.8333 20.6644 20ZM9.51712 8.88106C8.15068 8.88106 7.07192 10.0715 7.07192 11.5239C7.07192 12.9763 8.17466 14.1667 9.51712 14.1667C10.8836 14.1667 11.9623 12.9763 11.9623 11.5239C11.9863 10.0715 10.8836 8.88106 9.51712 8.88106ZM18.2671 8.88106C16.9007 8.88106 15.8219 10.0715 15.8219 11.5239C15.8219 12.9763 16.9247 14.1667 18.2671 14.1667C19.6336 14.1667 20.7123 12.9763 20.7123 11.5239C20.7123 10.0715 19.6336 8.88106 18.2671 8.88106Z"
    ) !important;
  }
}

@if not($disable-mention-theming) {
  /* #channels and @mentions */
  .wrapper_f46140 {
    color: var(--diskai-mention-colour);
  }

  .wrapper_f46140:hover {
    background-color: var(--diskai-mention-colour);
    color: var(--diskai-mention-text) !important;
  }

  .wrapper_f46140.interactive:hover {
    background-color: var(--diskai-mention-colour) !important;
    border-radius: 3px;
  }
}

/* Discord logo in top left */
.wrapper_d281dd.selected_f5ec8e .childWrapper__01b9c,
.wrapper_d281dd:hover .childWrapper__01b9c {
  background-color: var(--diskai-accent-colour);
  color: var(--diskai-accent-contrast);
}

/* Explore and Add server icons */
.circleIconButton_d8df29 {
  path {
    fill: var(--diskai-accent-colour);
  }

  &.selected__5250e {
    background-color: var(--diskai-accent-colour) !important;
    color: var(--diskai-accent-contrast) !important;
    path {
      fill: var(--diskai-accent-contrast) !important;
    }
  }
}

/* Explore selected category */
.categoryItem_b1be5c.selectedCategoryItem__0bf4c .itemInner__9e755 {
  background-color: var(--diskai-accent-colour);
  color: var(--diskai-accent-contrast);
}

/* Context menus */
/* All buttons */
.colorDefault__0b482 {
  --diskai-context-menu-col: var(--interactive-normal);
  --diskai-context-menu-bg: var(--diskai-accent-colour);
  color: var(--diskai-context-menu-col);

  &.colorDanger_eec36d {
    --diskai-context-menu-col: var(--monokai-red);
    --diskai-context-menu-bg: var(--monokai-red);
  }

  &.colorBrand__471df {
    --diskai-context-menu-col: var(--monokai-purple);
    --diskai-context-menu-bg: var(--monokai-purple);
  }

  &.focused__27621, &.focused__27621:active {
    background-color: var(--diskai-context-menu-bg);
    color: var(--diskai-accent-contrast);
  }
}

// TODO server notifications radio

/* Invite to server */
#guild-header-popout-invite-people.focused__27621 {
  background-color: var(--monokai-purple);
  color: var(--text-normal);
}

#guild-header-popout-invite-people:not(.focused__27621) {
  color: var(--monokai-purple);
}

#guild-header-popout-invite-people:not(.focused__27621) path {
  fill: var(--monokai-purple);
}

/* Nitro boost */
#guild-header-popout-premium-subscribe.focused__27621 {
  background-color: var(--diskai-pink);
  color: var(--text-normal);
}

#guild-header-popout-premium-subscribe:not(.focused__27621) path {
  fill: var(--diskai-pink);
}

// TODO what is this?
/* Danger actions => delete message */
/* .colorDanger-3n-KnP,
.colorDanger-3n-KnP .checkbox__45366,
.colorDanger-3n-KnP .radioSelection-1UHp0b {
  color: var(--monokai-red);
}

.colorDanger-3n-KnP.focused__27621 {
  background-color: var(--monokai-red);
  color: var(--text-normal);
} */

@if $transitions {
  /* Fades!!! */
  /* .item-3XjbnG,
  .item-1OdjEX, */
  .channel_c21703,
  .channel_c21703 .subtext__623a0,
  .closeButton__8f1fd svg,
  .containerDefault__3187b *,
  .categoryItem_b1be5c,
  .member_aa4760,
  .member_aa4760 *,
  .message__80c10,
  .buttonContainer_dd4b62 *,
  .result__25f11,
  button,
  button svg *,
  .clickable_d23a1a path,
  .iconItem__8e3b8 path,
  .overflow__87fe8,
  .winButton__88672,
  .avatar_f8541f,
  .button_ddf91e,
  .header__28ebb .tab_a8a066,
  .privateChannelsHeaderContainer_ddcec6,
  .rowWrapper__2d725,
  .rowWrapper__2d725 .nameBodyCell_e706d4 /*,
  .item-2idW98,
  .item-2idW98 path,
  .header-2BwW8b,
  .css-3vaxre-menu * */ {
    transition: background-color #{$transition-duration} ease,
      color #{$transition-duration} ease, fill #{$transition-duration} ease,
      opacity #{$transition-duration} ease;
  }

  .channel_c21703 .name__16feb,
  .channel_c21703 .subText_ab7e13 {
    color: var(--channels-default);
  }

  .channel_c21703:hover .name__16feb,
  .channel_c21703:hover .subText_ab7e13 {
    color: var(--text-normal);
  }

  .textRuler__61dab {
    display: none;
  }

  .searchBar_e0c60b {
    transition: width calc(2 * #{$transition-duration}) ease;
  }
}

.containerDefault__3187b.selected__3b4cb .iconItem__8e3b8,
.containerDefault__3187b:hover .iconItem__8e3b8 {
  opacity: 1;
}

.iconItem__8e3b8 {
  display: block;
  opacity: 0;
}

/* The rectangle message box breaks the upload dialog border-radius */
.channelTextAreaUpload__5c0be .scrollableContainer__33e06 {
  border-radius: 8px;
}

/* LIVE tag in VC */
.liveSmall_ca35ec {
  background-color: var(--monokai-red) !important;
}

/* Fix the status picker popup not using the variables */
.status__1c26d[style="background-color: var(--green-360);"],
.wrapper_edb6e0 rect[mask="url(#svg-mask-status-online)"],
.wrapper_edb6e0 rect[fill="#23a55a"] {
  background-color: var(--rs-online-color) !important;
  fill: var(--rs-online-color) !important;
}

.status__1c26d[style="background-color: var(--yellow-300);"],
.wrapper_edb6e0 rect[mask="url(#svg-mask-status-idle)"],
.wrapper_edb6e0 rect[fill="#f0b232"] {
  background-color: var(--rs-idle-color) !important;
  fill: var(--rs-idle-color) !important;
}

.status__1c26d[style="background-color: var(--red-400);"],
.wrapper_edb6e0 rect[mask="url(#svg-mask-status-dnd)"],
.wrapper_edb6e0 rect[fill="#f23f43"] {
  background-color: var(--rs-dnd-color) !important;
  fill: var(--rs-dnd-color) !important;
}

.status__1c26d[style="background-color: var(--pimmary-400);"],
.wrapper_edb6e0 rect[mask="url(#svg-mask-status-offline)"],
.wrapper_edb6e0 rect[fill="#80848e"] {
  background-color: var(--rs-invisible-color) !important;
  fill: var(--rs-invisible-color) !important;
}

/* Changelog links are stubborn as to colours */
.content__96073 a {
  color: var(--text-link) !important;
}

@if $strikethrough-mute {
  /* Strikethrough muted categories & channels */
  .wrapper__9c483.muted_de6e6e,
  .wrapper__9c483.muted_de6e6e .name__590d6,
  .modeMuted__0aeea .icon_eff5d4,
  .modeMuted__0aeea .name__8d1ec {
    text-decoration: line-through;
  }
}

/* Invite to this channel button */
.iconItem__8e3b8 path {
  fill: var(--diskai-accent-colour);
}

@if $hide-help {
  /* Go away help button */
  .anchor_c8ddc0[href="https://support.discord.com"]
  {
    display: none;
  }
}

/* Message pin */
.content__72fdc .anchor_c8ddc0 {
  color: var(--text-link);
}

/* Mentions */
.mentioned__58017::before {
  background-color: var(--monokai-yellow);
}

@if $coloured-channel-hashtags {
  /* Channels */
  .unread__48cf4 {
    visibility: hidden;
  }

  .modeUnread_f74c03 .name__8d1ec,
  .name__8d1ec {
    color: var(--channels-default);
  }

  .modeSelected__487d6 .name__8d1ec,
  .modeSelected__487d6:hover .name__8d1ec {
    color: var(--text-normal);
  }

  .modeUnread_f74c03 .iconContainer__3f9b0 path {
    fill: var(--interactive-active);
  }

  .modeSelected__487d6 .iconContainer__3f9b0 path {
    fill: var(--text-normal);
  }
}

/* Version message */
.info__755e1 > :last-child::after {
  content: "Diskai 2.0 by @yellowsink";
  display: block;
  text-transform: none;
}

// Edit message buttons
.operations__07224 > a {
  color: var(--diskai-accent-colour);
}

// message hover delete button
.buttonsInner_bca8fa > .dangerous_b60ec0 {
  color: var(--monokai-red);
}

// user profile card
.fieldList_aab0de {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1.5rem;
}

.accountProfileCard__22589 .bannerSVGWrapper__3e7b0 {
  width: 100%;
  height: 100px;

  & > foreignObject {
    mask: unset;
    width: 300%;
    x: -100%;
  }
}

.avatar__6c108 {
  border: 6px solid var(--background-tertiary);
  left: 16px;
  top: 76px;
}

.badgeList__243e0 {
  margin-top: -4px;
}

// Fix announcement channel box with bettermessagebox
.wrapper_fbbb73 {
  margin: 0;
  padding-bottom: 16px + 1px; // default value, and 1px extra to make it fit with the userarea
  border-radius: 0;
  background-color: var(--channeltextarea-background);
}

// Unreads PROTIP
.protip__270fe {
  color: var(--diskai-accent-colour);
}

// Loading cubes
.wanderingCubes_ce37c6 > .item__0e5d6 {
  background-color: var(--monokai-purple);
}

// New msg bar, bot tag
.newMessagesBar__8b6d7,
.botTag_a52f38 {
  background-color: var(--monokai-purple);
}

/*******************************\
|      stuff stolen from        |
|     #css-snippets in the      |
|     powercord discord :P      |
\*******************************/

/*
Better message box
courtesy of Jenny#0002 on powercord discord
https://discord.com/channels/538759280057122817/755005803303403570/804665923801579541
*/
.form__13a2c {
  padding: 0px;
}

.inner__9fd0b {
  padding-top: 4px;
}

.channelTextArea__2e60f {
  margin-bottom: 0px;
}

.base__512ed {
  top: -24px;
  background-color: var(--background-primary);
}

.scrollableContainer__33e06 {
  border-radius: 0px;
  min-height: 53px;
}

/*
Jump to bottom pill
by me!
https://discord.com/channels/538759280057122817/755005803303403570/805724588277104680
*/
.jumpToPresentBar__0ff7f .barButtonMain__0f5c6 {
  display: none;
}

.jumpToPresentBar__0ff7f {
  display: block;
  background-color: transparent;
  right: 12px;
}

.jumpToPresentBar__0ff7f .barButtonAlt__4b48f {
  float: right;
  bottom: 1.6rem;
  border-radius: 0.7rem 0 0 0.7rem;
  background-color: var(--background-tertiary);
}

/*
Drop shadow behind images, video, codeblocks, and other embeds
by Benny#9876
https://discord.com/channels/538759280057122817/755005803303403570/801919477918597211
 */
.embedWrapper_c143d9 {
  box-shadow: 0px 8px 15px -8px rgba(0, 0, 0, 0.3);
}

code {
  box-shadow: 0px 8px 15px -8px rgba(0, 0, 0, 0.3);
}
