# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.Diskai.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\caina\Documents\MEGA\vizality\addons\themes\Diskai\.idea\.idea.Diskai.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
